<!-- footer scripts -->
<script
src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ '/assets/js/main.js' | url }}?v={{ 'now' | date: '%Y%m%d%H%M' }}"></script>
<script src="https://kit.fontawesome.com/e362474648.js" crossorigin="anonymous"></script>

{% if classes contains "facets" %}
<script type="text/javascript" src="{{ '/assets/js/isotope.pkgd.min.js' | url}}" ></script>
{% endif %}
{% if classes contains "item" %}
<script type="text/javascript" src="{{ '/assets/js/viewer.min.js' | url}}" ></script>
{% endif %}