---
layout: default
classes: ['item']
---
<div class="row">
  <div class="column work-images">
      <ul id="image-list">

        {% for i in item.Photos %}
            {% if i contains 'mp4' %}
                <video id="player" playsinline controls data-poster="/path/to/poster.jpg">
                <source src="{{ i | prepend: site.assets_url }}" type="video/mp4" />
                </video>
            {% else %}
              <li><img src="{{ i | prepend: site.assets_url }}" alt="Image of {{ item.Work }} by {{ item.Author }}"></li>
            {% endif %}
        {% endfor %}
      </ul>
  </div>
  <div class="column work-meta">
      <h2 class="work-title">{{ title }}</h2>
      <span class="work-author-date">{{ item.Author }}, {{ item.Date }}</span>
      <span class="work-call-number">{{ item["Call Number"] | markdownify }}</span>
      <span class="work-description"><p>{{ item.Description | markdownify }}</p></span>
      <span class="work-digital-version"><p>{{ item['Digital Version'] | markdownify }}</p></span>
  </div>
</div>

